



body {
  margin:0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  
}

.topnav {
  overflow: hidden;
  background-color: #461412;
  font-weight: bold;
  height: 65px;
  position: fixed;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #2f1512;
  color: whitesmoke;
}

.topnava {
  padding: 22px 20px;
}

.active {
  padding: 10px 15px;
}

.textbody {
  padding: 60px 60px;
  background-color:#251515;
  color: whitesmoke;
  font-size: 20px;
  text-indent: 4%;
  line-height: 32px;
  
}

.fif {  
  width:55%;
  float:left;
  padding-left: 30px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

hr.solid {
  border-top: 2px solid #d0d0d0;
}


.boardgame {
  float: right;
  width: 40%;
  
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.howlink {
  color:#e1bc56
}

.serif {
  font-size: 30px; 
  color:beige; 
  font-family:Georgia, serif;
}

.tip{
  float:left;
  width:20%;
}

.tip2{
  float:right;
  width:80%;

}

.boardgame2{
  width:40%;
}